body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-size: 18px;
}

main {
    min-height: calc(100vh - 100px); 
    padding-bottom: 50px; 
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 32px;
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#addAlumno {
    display: block; 
    margin: 0 auto;
    margin-bottom: 20px;
    width: fit-content; 
    text-align: center; 
    color: #007bff; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

#addAlumno:hover {
    color: #0056b3; 
}

a:hover {
    color: #0056b3; 
}

nav {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffc107; 
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: #343a40;
    color: #ffffff;
}

form {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

#regFecha, #attendanceForm{
    margin: 50px 100px;
}